In [19]:
import MySQLdb

In [20]:
hostname = "localhost"
username = "root"
password = ""
db_name  = "drama_ojol"

# Open database connection
db = MySQLdb.connect(hostname,username,password,db_name)
db.set_character_set('utf8')

# prepare a cursor object using cursor() method
cursor = db.cursor()
cursor.execute('SET NAMES utf8;')
cursor.execute('SET CHARACTER SET utf8;')
cursor.execute('SET character_set_connection=utf8;')

0

In [21]:
def executeSql(sql):
    return cursor.execute(sql);

def fetch(type='all'):
    if type=='all':
        return cursor.fetchall();
    else:
        return cursor.fetchone();
def commit():
    db.commit();

def escapeString(string):
    return MySQLdb.escape_string(string);

totalAplikasi = {'app_tp':0,'app_tn':0,'app_fp':0,'app_fn':0};
totalHarga = {'harga_tp':0,'harga_tn':0,'harga_fp':0,'harga_fn':0};
totalDriver = {'driver_tp':0,'driver_tn':0,'driver_fp':0,'driver_fn':0};
totalPenumpang = {'cust_tp':0,'cust_tn':0,'cust_fp':0,'cus_fn':0};
totalPerusahaan = {'comp_tp':0,'comp_tn':0,'comp_fp':0,'comp_fn':0};

# Hitung data untuk Akurasi Aplikasi

In [33]:
def initialaplikasi():
    global totalAplikasi;
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 1 AND cat_result like "aplikasi" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalAplikasi['app_tp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!1 AND cat_result not like "aplikasi" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalAplikasi['app_tn'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!1 AND cat_result like "aplikasi" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalAplikasi['app_fp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 1 AND cat_result not like "aplikasi" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalAplikasi['app_fn'] = result[0][0];
    
    print("TP = ",  totalAplikasi['app_tp'])
    print("TN = ",  totalAplikasi['app_tn'])
    print("FP = ",  totalAplikasi['app_fp'])
    print("FN = ",  totalAplikasi['app_fn'])
    
    totalAplikasi['data'] = totalAplikasi['app_fn'] + totalAplikasi['app_fp'] + totalAplikasi['app_tn'] + totalAplikasi['app_tp'];

# Hitung data untuk Akurasi Harga

In [23]:
def initialharga():
    global totalHarga;
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 2 AND cat_result like "harga" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalHarga['harga_tp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!2 AND cat_result not like "harga" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalHarga['harga_tn'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!2 AND cat_result like "harga" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalHarga['harga_fp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 2 AND cat_result not like "harga" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalHarga['harga_fn'] = result[0][0];
    
    print("TP = ",  totalHarga['harga_tp'])
    print("TN = ",  totalHarga['harga_tn'])
    print("FP = ",  totalHarga['harga_fp'])
    print("FN = ",  totalHarga['harga_fn'])
    
    totalHarga['data'] = totalHarga['harga_fn'] + totalHarga['harga_fp'] + totalHarga['harga_tn'] + totalHarga['harga_tp'];

# Hitung data untuk Akurasi Driver

In [24]:
def initialdriver():
    global totalDriver;
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 3 AND cat_result like "driver" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalDriver['driver_tp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!3 AND cat_result not like "driver" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalDriver['driver_tn'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!3 AND cat_result like "driver" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalDriver['driver_fp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 3 AND cat_result not like "driver" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalDriver['driver_fn'] = result[0][0];
    
    print("TP = ",  totalDriver['driver_tp'])
    print("TN = ",  totalDriver['driver_tn'])
    print("FP = ",  totalDriver['driver_fp'])
    print("FN = ",  totalDriver['driver_fn'])
    
    totalDriver['data'] = totalDriver['driver_fn'] + totalDriver['driver_fp'] + totalDriver['driver_tn'] + totalDriver['driver_tp'];

# Hitung data untuk Akurasi Penumpang

In [25]:
def initialpenumpang():
    global totalPenumpang;
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 4 AND cat_result like "penumpang" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPenumpang['cust_tp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!4 AND cat_result not like "penumpang" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPenumpang['cust_tn'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!4 AND cat_result like "penumpang" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPenumpang['cust_fp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 4 AND cat_result not like "penumpang" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPenumpang['cust_fn'] = result[0][0];
    
    print("TP = ",  totalPenumpang['cust_tp'])
    print("TN = ",  totalPenumpang['cust_tn'])
    print("FP = ",  totalPenumpang['cust_fp'])
    print("FN = ",  totalPenumpang['cust_fn'])
    
    totalPenumpang['data'] = totalPenumpang['cust_fn'] + totalPenumpang['cust_fp'] + totalPenumpang['cust_tn'] + totalPenumpang['cust_tp'];

# Hitung data untuk Akurasi Perusahaan

In [26]:
def initialperusahaan():
    global totalPerusahaan;
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 5 AND cat_result like "perusahaan" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPerusahaan['comp_tp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!5 AND cat_result not like "perusahaan" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPerusahaan['comp_tn'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training =!5 AND cat_result like "perusahaan" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPerusahaan['comp_fp'] = result[0][0];
    
    sql = '''SELECT count(*)
                FROM opinions WHERE cat_training = 5 AND cat_result not like "perusahaan" AND id < 999''';
    executeSql(sql);
    result = fetch('all');
    totalPerusahaan['comp_fn'] = result[0][0];
    
    print("TP = ",  totalPerusahaan['comp_tp'])
    print("TN = ",  totalPerusahaan['comp_tn'])
    print("FP = ",  totalPerusahaan['comp_fp'])
    print("FN = ",  totalPerusahaan['comp_fn'])
    
    totalPerusahaan['data'] = totalPerusahaan['comp_fn'] + totalPerusahaan['comp_fp'] + totalPerusahaan['comp_tn'] + totalPerusahaan['comp_tp'];

# Fungsi Akurasi Aplikasi

In [35]:
def countAccuracyApp():   
    global totalAplikasi;
    initialaplikasi()
    return (totalAplikasi['app_tn']+totalAplikasi['app_tp'])/totalAplikasi['data'];
def precisionApp():
    global totalAplikasi;
    initialaplikasi()
    return totalAplikasi['app_tp']/(totalAplikasi['app_fp']+totalAplikasi['app_tp']);
def recallApp():
    global totalAplikasi;
    initialaplikasi()
    return totalAplikasi['app_tp']/(totalAplikasi['app_fn']+totalAplikasi['app_tp']);

# Fungsi Akurasi Harga

In [28]:
def countAccuracyHarga():   
    global totalHarga;
    initialharga()
    return (totalHarga['harga_tn']+totalHarga['harga_tp'])/totalHarga['data'];
def precisionHarga():
    global totalHarga;
    initialharga()
    return totalHarga['harga_tp']/(totalHarga['harga_fp']+totalHarga['harga_tp']);
def recallHarga():
    global totalHarga;
    initialharga()
    return totalHarga['harga_tp']/(totalHarga['harga_fn']+totalHarga['harga_tp']);

# Fungsi Akurasi Driver

In [29]:
def countAccuracyDriver():   
    global totalDriver;
    initialdriver()
    return (totalDriver['driver_tn']+totalDriver['driver_tp'])/totalDriver['data'];
def precisionDriver():
    global totalDriver;
    initialdriver()
    return totalDriver['driver_tp']/(totalDriver['driver_fp']+totalDriver['driver_tp']);
def recallDriver():
    global totalDriver;
    initialdriver()
    return totalDriver['driver_tp']/(totalDriver['driver_fn']+totalDriver['driver_tp']);

# Fungsi Akurasi Penumpang

In [41]:
def countAccuracyPenumpang():   
    global totalPenumpang;
    initialpenumpang()
    return (totalPenumpang['cust_tn']+totalPenumpang['cust_tp'])/totalPenumpang['data'];
def precisionPenumpang():
    global totalPenumpang;
    initialpenumpang()
    return totalPenumpang['cust_tp']/(totalPenumpang['cust_fp']+totalPenumpang['cust_tp']);
def recallPenumpang():
    global totalPenumpang;
    initialpenumpang()
    return totalPenumpang['cust_tp']/(totalPenumpang['cust_fn']+totalPenumpang['cust_tp']);

# Fungsi Akurasi Perusahaan

In [39]:
def countAccuracyPerusahaan():   
    global totalPerusahaan;
    initialperusahaan()
    return (totalPerusahaan['comp_tn']+totalPerusahaan['comp_tp'])/totalPerusahaan['data'];
def precisionPerusahaan():
    global totalPerusahaan;
    initialperusahaan()
    return totalPerusahaan['comp_tp']/(totalPerusahaan['comp_fp']+totalPerusahaan['comp_tp']);
def recallPerusahaan():
    global totalPerusahaan;
    initialperusahaan()
    return totalPerusahaan['comp_tp']/(totalPerusahaan['comp_fn']+totalPerusahaan['comp_tp']);

# Akurasi Aplikasi

In [36]:
print("Akurasi =",countAccuracyApp())
print("Precision = ",precisionApp())
print("Recall = ",recallApp())

TP =  126
TN =  0
FP =  0
FN =  242
Akurasi = 0.3423913043478261
TP =  126
TN =  0
FP =  0
FN =  242
Precision =  1.0
TP =  126
TN =  0
FP =  0
FN =  242
Recall =  0.3423913043478261

# Akurasi Harga

In [37]:
print("Akurasi =",countAccuracyHarga())
print("Precision = ",precisionHarga())
print("Recall = ",recallHarga())

TP =  32
TN =  0
FP =  0
FN =  32
Akurasi = 0.5
TP =  32
TN =  0
FP =  0
FN =  32
Precision =  1.0
TP =  32
TN =  0
FP =  0
FN =  32
Recall =  0.5

# Akurasi Driver

In [42]:
print("Akurasi =",countAccuracyDriver())
print("Precision = ",precisionDriver())
print("Recall = ",recallDriver())

TP =  162
TN =  0
FP =  0
FN =  112
Akurasi = 0.5912408759124088
TP =  67
TN =  0
FP =  0
FN =  182

KeyError: 'cust_tp'

In [1]:
print("Karina")

Karina